.section__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .article__name {
        letter-spacing: 3px;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .article__job {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: rgb(55, 160, 230);
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }

    .article__info {
        width: 70%;
        font-size: 1.6rem;
        line-height: 25px;
        color: rgb(110, 110, 110);
        margin-bottom: 2rem;
    }
}
.article__img-container {
    height: 18rem;
    width: 18rem;
    margin-bottom: 2rem;
    position: relative;

    .article__img {
        height: 18rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    .article__img-after {
        content: '';
        height: 15rem;
        width: 15rem;
        background-color: $bg-img;
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        top: 18px;
        right: 0;
        left: 20px;
        bottom: 0;
    }
}
.article__buttons {
    .button__preview {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
        background-color: $white;
        padding: 0;
        margin-bottom: 1rem;
        cursor: pointer;

        &:active {
            transform: translateX(-5px);
        }
        &:last-of-type {
            &:active {
                transform: translateX(5px);
            }
        }
        
        img {
            height: 100%;
            width: 100%;
        }

        &:last-of-type {
            margin: 0;
        }
    }
}
.button__random {   
    font-size: 1.4rem;
    color: $white;
    background-color: $pColor;
    padding: .8rem 1rem;
    border-radius: 4px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: 1px solid $pColor;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $pColor;
    }
    &:active {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid $pColor;
    }
}